body {
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
}
#like_button{
    margin: 1%;
    border: none;
    padding:1%;
    border-radius: 10%;
}

.like {
    background-color: green;
}
.like:hover{
    background-color:lightgreen;
}

.dislike {
    background-color: red;
}
.dislike:hover{
    background-color:rgb(252, 130, 130);
}

output {
    color: green;
}

section input {
    width: 20%;
    padding: 1%;
    margin: 1%;
    border: none;
    border-radius: 3px;
    background-color:rgb(232, 239, 247);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

section input:focus{
    width: 60%;   
}

section button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding:0.5%;
    margin: 0;
}

section button:hover{
    background-color: antiquewhite;
}
