main ul li {
    background-color: khaki;
    padding: 1%;
    margin: 1%;
    border: 1%;
}
main a {
    text-decoration: none;
    text-transform: uppercase;
}
main ul li:hover{
    cursor: pointer;
    background-color:rgb(243, 237, 179);
}